<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Posts</title>

  <!-- Link Bootstrap WebJar -->
  
</head>
<body>
  <!-- Insert the header frament -->
  <div th:insert="header"></div>
  <div class="container">
    <!-- For each post -->
    <div th:each="post : ${posts}" class="card">
      <div class="card-body">
        <h5 class="card-title" th:utext="${post.title}">Post title</h5>
        <a href="#" th:href="'/posts/' + ${post.id}" th:text="${'Read more'}" class="card-link">Read more</a>
      </div>
    </div>
  </div>
</body>
</html>