<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:if="${error}"> Error </title>
  <title th:unless="${error}" th:text="${post.title}"> Post</title>

  <!-- Link Bootstrap WebJar -->
  <style>
    /* Styles for the line below the post */
      .post-line {
          border-bottom: 1px solid #ccc;
          width: 100%; /* Adjust line width to match container */
          margin-bottom: 10px; /* Add spacing below the line */
      }

  </style>
</head>
<body>
  <!-- Insert the header frament -->
  <div th:insert="header"></div>
  <div class="d-flex justify-content-center" style="margin: 10px;">
    <!-- If no post by the given ID exists -->
    <div th:if="${error}" class="alert alert-danger" role="alert">
      Sorry, the post you requested doesn't exist!
    </div>
    <!-- If a post by the given ID exists -->
    <article th:unless="${error}">
      <h1 th:utext="${post.title}">Title</h1>
      <p th:utext="${post.content}">Content</p>
    </article>

    <!-- Line below the post -->
    <div class="post-line"></div>


 </div>
</body>
</html>
